body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f7b617;
}

.navbar {
  padding: 2%;
  background-color: #fff;
}

#home{
  background-image: url("../img/taxi.jpg");
  background-size: cover;
  height: 750px;
}
.log-in{
  margin-top: 19%;
  z-index: 999;
}

.bg-home{
  background-color: #f7b617;
  padding: 4% 10% 7% 10%;
  margin-right: -23%;
  color: #fff;
}

.txt-two img{
  width: 95px;
  margin-top: -4px;
}

.bg-home button{
  background-color: #fff;
  border: 1px solid #fff;
  padding: 2% 3%;
  color: #000;
  border-radius: 5%;
  margin-top: 2%;
  font-size: 20px;
}

.line{
  margin-top: 6%;
  width: 195px;
  height: 1px;
  background: #fff;
  display: inline-block;
  vertical-align:super;
}
#registro, #conductor {
  color: #000;
  background-color:rgb(240, 236, 239) ;
  margin-top: 5%;
}

#descargaApp {
  width: 100%;
  padding: 0;
}

.app {
  margin: 5% 15% 5% 0;
  padding: 2%;
  border: 2px solid #fff;
  line-height: 1.5;
  font-size: 1.2em;
  color: #fff;
}

#conduce {
    background-image: url(../img/conduce.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
}

#conduce div div {
  color: #ffffff;
    background-color: rgba(0, 0, 0, 0.71);
    padding: 15em 3em 5em;
    height: 750px;
}

footer p a{
  color: #ffffff;
}
footer {
  background: #333;
}
